/* stylelint-disable */

.banner-wrapper {
	background: url(../images/bg-top-block.jpg) repeat 50% 0 transparent;
	padding: 40px 0 0;
}

.page-header {
	h1 {
		background: $black-2;
		color: $white;
		text-transform: uppercase;
		padding: 25px 20px;
		margin-bottom: 30px;
		letter-spacing: 1px;
	}
}

.breadcrumbs {
	margin-bottom: 25px;
	.breadcrumbs-inner {
		display: inline-block;
		border: 1px solid #D6D4D4;
		background: #F6F6F6;
		>span {
			display: inline-block;
			padding: 5px 10px;
			font-size: 1.2rem;
			font-weight: 700;
			border-left: 1px solid #D6D4D4;
			&:first-child{
				border-left: 0;
			}
			a {
				color: $base;
				&:hover {
					color: $primary;
				}
			}
			&.breadcrumb-home {
				padding: 0px 10px;
				a {
					font-size: 1.7rem;
					line-height: 1;
					top: 1px;
					position: relative;
				}
			}
		}
	}
}

.slider-wrapper {
	.slick-list {
		.item-slider {
			position: relative;
			img {
				max-width: 100%;
				height: auto;
			}
			.content-slicer {
				position: absolute;
				width: 40%;
				top: 50%;
				left: 0;
				transform: translate(0,-50%);
				@include media-breakpoint-down(xs) {
					width: 60%;
				}
				.category-product {
					font-family: 'Anton', sans-serif;
					background: $primary;
					padding: 1.8rem 2.5rem 1.8rem 3rem;
					display: inline-block;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: #fff;
					font-weight: 400;
					font-size: 5rem;
					margin: 0 0 2.5rem;
					@include media-breakpoint-only(lg) {
						font-size: 4rem;
					}
					@include media-breakpoint-down(md) {
						font-size: 2.5rem;
					}
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
				.content-slider-inner {
					padding-left: 3rem;
					@include media-breakpoint-down(sm) {
						padding-left: 1.5rem;
					}
				}
				.name-product{
					font-family: 'Roboto', sans-serif;
					font-size: 4.5rem;
					color: #000;
					font-weight: 300;
					margin: 0 0 2rem;
					@include media-breakpoint-only(lg) {
						font-size: 3.5rem;
					}
					@include media-breakpoint-down(md) {
						font-size: 2rem;
					}
					@include media-breakpoint-down(xs) {
						font-size: 1.6rem;
						margin-bottom: 10px;
					}
				}
				.description-product {
					margin: 0 0 1rem;
					color: $base;
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
				.price-product {
					.price {
						color: $primary;
						display: inline-block;
						font-family: 'Anton', sans-serif;
						font-size: 4.5rem;
						margin-right: 1rem;
						@include media-breakpoint-down(md) {
							font-size: 2rem;
						}
						@include media-breakpoint-down(xs) {
							font-size: 1.6rem;
						}
					}
					.reduce-price {
						color: $gray;
						display: inline-block;
						font-family: 'Anton', sans-serif;
						font-size: 2rem;
						text-decoration: line-through;
						position: relative;
						@include media-breakpoint-down(md) {
							font-size: 1.6rem;
						}
						@include media-breakpoint-down(xs) {
							font-size: 1.3rem;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	.slick-arrow {
		background: $grey-3;
		width: 46px;
		height: 46px;
		text-align: center;
		overflow: hidden;
		z-index: 5;
		@include media-breakpoint-down(md) {
			display: none !important;
		}
		&:before {
			display: none;
		}
		&:after {
			font-family: "FontAwesome";
			color: #fff;
			font-size: 40px;
			display: block;
			line-height: 46px;
		}
		&.slick-prev {
			left: -46px;
			@include media-breakpoint-down(lg) {
				left: 0;
			}
			&:after {
				content: "\f104";
			}
		}
		&.slick-next {
			right: -46px;
			@include media-breakpoint-down(lg) {
				right: 0;
			}
			&:after {
				content: "\f105";
			}
		}
		&:hover {
			background: $primary;
			&.slick-prev {
				&:after {
					animation: toLeftFromRight 0.3s forwards;
				}
			}
			&.slick-next {
				&:after {
					animation: toRightFromLeft 0.3s forwards;	
				}
			}
		}
	}
}

.category-wrapper {
	.item-category {
		margin-bottom: 3rem;
		.item-category-inner {
			position: relative;
			display: block;
		}
		img {
			width: 100%;
			display: block;
		}
		.name-category {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			font-family: 'Anton', sans-serif;
			margin: 0;
			padding: 1rem 30% 1rem 1rem;
			color: #fff;
			letter-spacing: 2px;
			font-size: 3.4rem;
			text-transform: uppercase;
			height: 94px;
			overflow: hidden;
			background: $primary;
			transition: 0.3s all;
			@include media-breakpoint-only(lg) {
				padding-right: 10px;
				font-size: 3rem;
				height: 84px;
				line-height: 1.3;
			}
			@include media-breakpoint-down(sm) {
				font-size: 2rem;
				padding: 10px;
				height: 64px;
				line-height: 1.3;
			}
		}
		&:hover {
			.name-category {
				background: rgba(51,51,51,0.5);
			}
		}
	}
}

#main-content{
	padding: 30px 0;
}

.sticky-sidebar {
	position: fixed;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
	z-index: 99;
	@include media-breakpoint-down(xs) {
		top: auto;
		bottom: 0;
		width: 100%;
		left: 0;
		transform: none;
		.textwidget {
			display: flex;
			justify-content: space-between;
			.info-contact-font {
				display: block;
				float: left;
				width: 100%;
				text-align: center;
				a {
					display: block;
				}
				.icon {
					display: block;
					width: 100%;
				}
				.text {
					display: none;
				}
			}
		}
	}
}

.woocommerce-message {
	border-top-color: $primary;
	&:before {
		color: $primary;
	}
}

#main-content{
	div.woocommerce {
		.main-content {
			>.product {
				.onsale {
					margin: 0;
					top: 40px;
					left: 10px;
				}
			}
		}
		.product {
			.onsale {
				background: $primary;
				border-radius: 0;
				display: block;
				margin: 10px 10px 0 0;
				font-size: 1.6rem;
				padding: 8px 2px;
				line-height: 1;
				min-height: 0;
			}
		}
		ul.products {
			margin: 0 -1.5%;
			padding: 0;
			@include media-breakpoint-down(xs) {
				margin: 0;
			}
			li.product {
				clear: none;
				text-align: center;
				float: left;
				width: 30.33%;
				margin: 0 1.5% 20px;
				background: #fff;
				padding-bottom: 25px;
				@include media-breakpoint-down(md) {
					width: 47%;
				}
				@include media-breakpoint-down(xs) {
					width: 100%;
					margin: 0 0 20px;
				}
				.onsale { 
					margin: 10px 10px 0 0;
				}
				> a {
					&.woocommerce-loop-product__link {
						display: block;
						padding: 10px 10px 0;
						margin-bottom: 20px;
						position: relative;
						.star-rating {
							position: absolute;
							bottom: 125px;
							left: 50%;
							transform: translate(-50%,0);
							color: $primary;
						}
					}
				}
				.price {
					text-align: center;
					display: block;
					min-height: 25px;
					margin-bottom: 15px;
					ins {
						color: $black;
						font-size: 22px;
						font-family: 'Anton', sans-serif;
						text-decoration: none;
						display: inline-block;
						vertical-align: bottom;
						line-height: 1;
						font-weight: 400;
					}
					del {
						display: inline-block;
						color: $grey-3;
						font-family: 'Anton', sans-serif;
						vertical-align: bottom;
						line-height: 1;
						font-size: 1.3rem;
						margin-left: 5px;
						font-weight: 400;
					}
					&.has-sale {
						ins {
							color: $primary;
						}
					}
				}
				.woocommerce-loop-product__title {
					color: $white;
					background-color: $black;
					padding: 10px 20px;
					font-size: 1.8rem;
					font-weight: 300;
					line-height: 1.4;
					margin: 0 -10px;
					text-align: center;
					height: 70px;
					box-sizing: border-box;
				}
				.button {
					display: inline-block;
					border-radius: 0;
					margin: 0 5px;
					height: 60px;
					line-height: 1;
					padding: 10px;
					box-sizing: border-box;
					font-weight: 400;
					vertical-align: top;
					&.product_type_simple {
						@include style-add-cart;
					}
					&.readmore-product {
						line-height: 36px;
						font-size: 1.9rem;
						background: none;
						color: $black;
						border: 1px solid $grey-2;
						&:hover {
							border-color: $primary;
							background: $primary;
							color: $white;
						}
					}
				}
				.wc-forward {
					display: none;
				}		
				&.purchasable {
					.button.product_type_simple {
						display: inline-block;
					}
				}	
			}
		}
		.related {
			ul.products {
				li.product {
					margin: 0 15px;
				}
			}
		}
	}
}

.product_meta {
	.wcml_currency_switcher {
		display: none;
	}
}

.single-product {
	.product {
		padding-top: 30px;
		border-top: 1px solid $grey-2;
		.cart {
			.quantity {
				input {
					@include style-input;
					height: 60px;
					width: 90px;
					font-size: 2rem;
				}
			}
			.single_add_to_cart_button {
				@include style-add-cart;
				display: inline-block;
				padding: 10px 11px;
				border-radius: 0;
				font-weight: 400;
			}
		}
		.images {
			.yith_magnifier_zoom_wrap {
				background: #fff;
				border: 1px solid $grey-2;
				padding: 5px;
			}
			.yith_magnifier_zoom_magnifier {
				border: 0;
				top: 5px !important;
				left: 5px !important;
			}
		}
		.product_title {
			color: $black;
			font-family: 'Roboto', sans-serif;
			margin: 0 0 15px;
			font-size: 2.5rem;
		}
		.price {
			margin: 20px 0;
			font-family: 'Anton', sans-serif;
			ins {
				text-decoration: none;
				color: $primary;
				font-size: 2.5rem;
				font-weight: 400 !important;
			}
			del {
				font-size: 1.8rem;
				margin-left: 10px;
				color: $grey-3;
				font-weight: 400;
			}
		}
		div.woocommerce-product-rating {
			margin: 0;
		}
		.woocommerce-product-details__short-description {
			margin-bottom: 20px;
		}
		.thumbnails.slider {
			max-width: 300px;
			margin: 0 auto;
			.caroufredsel_wrapper {
				height: 100px !important;
				.yith_magnifier_gallery {
					height: auto !important;
					&:after {
						display: block;
						clear: both;
						content: '';
					}
					li {
						padding: 5px;
						a {
							margin: 0;
							border: 1px solid #d6d4d4;
							&:hover {
								border-color: #989393;
							}
							img {
								max-height: 100px;
							}
						}
					}
				}
			}
			#slider-prev, #slider-next {
				background: #fff;
				display: block !important;
				color: $grey-3;
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
				transition: 0.3s all;
				&:before {
					font-family: "FontAwesome";
					font-size: 20px;
					display: block;
					line-height: 26px;
					text-align: center;
				}
				&:hover {
					background: $primary;
					color: #fff;
				}
			}
			#slider-prev {
				&:before {
					content: "\F104";
				}
			}
			#slider-next {
				&:before {
					content: "\F105";
				}
			}
		} 
		div.woocommerce-tabs {
			ul.tabs {
				background: $black-2;
				padding: 10px 0;
				&:before {
					display: none;
				}
				li {
					padding: 0;
					border: 0;
					background: none !important;
					margin: 0;
					border-radius: 0;
					border-left: 1px solid $grey-4;
					display: block;
					float: left;
					padding: 0 15px;
					&:first-child {
						border-left: 0;
					}
					&:before, &:after {
						display: none;
					}
					a {
						padding: 0;
						color: $grey-4;
						border-radius: 0;
						&:hover {
							color: $primary;
						}
					}
					&.active {
						a {
							color: $primary;
						}
					}
				}
			}
			.woocommerce-Tabs-panel {
				h2 {
					margin-bottom: 20px;
				}
			}
		}
	}
	.products {
		.product {
			border: 0;
		}
	}
	.related {
		> h2 {
			margin-bottom: 20px;
		}
	}
}

.form-contact-product {
	border-top: 1px solid $grey-2;
	padding-top: 20px;
	.label-form {
		font-size: 1.8rem;
		color: $grey-3;
		margin-bottom: 10px;
	}
}

.form-group {
	position: relative;
	.your-info {
		display: block;
		input {
			display: block;
			@include style-input;
		}
	}
	.wpcf7-submit {
		background: $primary;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		border: 0;
		height: 45px;
		padding: 0 30px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.6rem;
		cursor: pointer;
		&:hover {
			background: $black;
		}
	}
	.ajax-loader {
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 2;
	}
}

form.comment-form {
	textarea,
	input[type="text"],
	input[type="email"] {
		@include style-input;
		font-size: 1.4rem !important;
		background: $grey-5 !important;
	}
	.form-submit {
		input#submit {
			background: $primary !important;
			color: #fff !important;
			border-radius: 0 !important;
			padding: 10px 18px !important;
			margin-top: 10px !important;
			&:hover {
				background: $black !important;
			}
		}
	}
}

#review_form {
	.comment-form-rating {
		.stars {
			display: table;
		}
	}
}

.wpcf7-validation-errors {
	margin: 0;
}

.woocommerce-page .woocommerce form {
	#customer_details .form-row {
		textarea, input, select {
			@include style-input;
		}
	}
}

.woocommerce-page {
	.page-title {
		padding: 26px 20px;
		background: $black-2;
		font-size: 2.6rem;
		color: $white;
		margin-bottom: 25px;
	}
	.woocommerce-ordering {
		select {
			@include style-input;
		}
	}
	.woocommerce-result-count {
		margin: 10px 0 0;
	}
}

.woocommerce nav.woocommerce-pagination ul.page-numbers {
	border: 0;
	li {
		border: 0;
		.page-numbers {
			padding: 12px 15px;
			font-size: 1.6rem;
			background: $black;
			color: $white;
			margin: 0 3px;
			&:hover {
				background: $primary;
			}
			&.current {
				background: $primary;
			}
		}
	}
}

.wpcf7-form {
	.contact-form {
		background: url(../images/contact-form.png) repeat-x white;
		padding-top: 30px;
		.contact-form-inner {
			padding: 0 20px 20px;
			background: url(../images/form-contact-shadow.png) 50% 0 no-repeat;
			background-size: cover;
			>h3 {
				margin-bottom: 20px;
			}
		}
		label {
			font-size: 1.3rem;
			font-weight: 700;
		}
		.wpcf7-form-control-wrap {
			textarea,
			input,
			select,
			option {
				padding: 2px 11px;
				background: #fff !important;
			}
		}
		.wpcf7-submit {
			background: none;
			border: 1px solid $grey-2;
			padding: 5px 15px;
			margin-top: 20px;
		}
	}
}

.login-page {
	>.wpb_column {
		>.vc_column-inner {
			>.wpb_wrapper {
				background: $grey-6;
				border: 1px solid $grey-7;
				padding: 20px;
				height: 100%;
			}
		}
	}
	.vc_custom_heading {
		font-size: 1.8rem;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
		color: $black-3;
		text-transform: uppercase;
		border-bottom: 1px solid $grey-7;
		padding-bottom: 15px;
		margin: 0 0 20px;
	}
	#wppb-register-user,
	#wppb-login-wrap {
		label {
			width: 33%;
			margin-top: 5px;
		}
		input[type="text"], 
		input[type="email"], 
		input[type="password"] {
			width: 66.9%;
			border-radius: 0;
		}
		.wppb-send-credentials-checkbox {
			label {
				margin-top: 0;
				width: auto;
			}
		}
		.login-submit,
		.form-submit {
			.button {
				border: 1px solid $grey-7;
				background: none;
				padding: 4px 15px;
				cursor: pointer;
				outline: none;
				&:hover {
					background: $primary;
					color: #fff;
					border: 1px solid $primary;
				}
			}
		}
		.wppb-field-error {
			border: 0;
			padding: 0 !important;
			background: none;
			.wppb-form-error {
				color: $primary;
				border: 0;
				padding-left: 33%;
				padding-top: 0;
			}
		}
	}
	.vc_btn3-container {
		.vc_btn3 {
			padding: 0;
			background: none;
			border: 0;
			color: $black-3;
			&:hover {
				color: $primary;
				background: none;
			}
		}
	}
}

.woofc {
	.woofc-trigger {
		background: rgba(255, 255, 255, 0.7);
	}
}

.woocommerce-page {
	table {
		&.shop_table {
			border-radius: 0;
			border-spacing: 0;
			thead {
				background: $black-2;
				color: #fff;
				tr th {
					padding: 10px 8px !important;
				}
			}
			tbody {
				tr {
					background: $white;
					border-bottom: 1px solid $grey-5;
					td {
						padding: 10px 8px !important;
						.button {
							border: 1px solid #181818;
							border-radius: 0;
							padding: 10px;
							color: #181818;
							background: #fff;
							&:disabled {
								padding: 10px;
							}
							&:hover {
								color: #fff;
								background: $primary;
								border-color: $primary;
							}
						}
					}
				}
			}
			tfoot {
				tr {
					background: $white;
				}
			}
			td.actions {
				.coupon {
					.input-text {
						height: 36px;
						min-width: 200px;
					}
				}
			}
		}
		&.my_account_orders {
			tbody {
				tr {
					&:nth-child(odd) {
						background: $grey-5;
					}
				}
			}
		}
	}
	.checkout_coupon {
		border-radius: 0 !important;
		.input-text {
			padding: 5px 10px;
			height: 36px;
		}
	}
	.woocommerce-order-details__title,
	.woocommerce-customer-details > h2,
	.title > h3,
	#order_review_heading {
		margin-bottom: 20px;
	}
	.woocommerce-billing-fields {
		margin-bottom: 20px;
	}
	table tfoot tr td {
		border-left: 1px solid rgb(205, 205, 205);
	}
	.woocommerce {
		a.button.alt,
		input.button.alt {
			border-radius: 0;
			background: $primary;
			color: $white;
			border: 0;
			&:hover {
				background: $red-2;
			}
		}
		.col2-set {
			.col-1,
			.col-2 {
				display: block;
				flex: none;
				max-width: 100%;
				padding: 0;
			}
		}
		.content-bg {
			.input-text, select {
				height: 36px;
				padding: 5px 10px;
			}
		}
		form {
			.form-row {
				padding: 0;
				label {
					margin: 10px 0 0;
				}
			}
		}
		.button {
			padding: 10px;
			background: $white;
			border: 1px solid $black-2;
			color: $black-2;
			border-radius: 0;
			&:hover {
				background: $primary;
				color: $white;
				border-color: $primary;
			}
		}
		.woocommerce-address-fields {
			.button {
				margin-top: 30px;
			}
		}
	}
}

.woofc-pos-bottom-right .woofc-inner {
	margin: 15px;
	max-width: calc(100vw - 47px);
	@include media-breakpoint-down(xs) {
		margin-bottom: 60px;
	}
}

@-webkit-keyframes toLeftFromRight{
	49%{
		-webkit-transform:translate(-100%);
	}
	50%{
		opacity:0;
		-webkit-transform:translate(100%);
	}
	1%{
		opacity:1;
	}
}
-moz-keyframes toLeftFromRight{
	49%{
		-moz-transform:translate(-100%);
	}
	50%{
		opacity:0;
		-moz-transform:translate(100%);
	}
	51%{
		opacity:1;
	}
}
@keyframes toLeftFromRight{
	49%{
		transform:translate(-100%);
	}
	50%{
		opacity:0;
		transform:translate(100%);
	}
	51%{
		opacity:1;
	}
}
@-webkit-keyframes toRightFromLeft{
	49%{
		-webkit-transform:translate(100%);
	}
	50%{
		opacity:0;
		-webkit-transform:translate(-100%);
	}
	51%{
		opacity:1;
	}
}
@-moz-keyframes toRightFromLeft{
	49%{
		-moz-transform:translate(100%);
	}
	50%{
		opacity:0;
		-moz-transform:translate(-100%);
	}
	51%{
		opacity:1;
	}
}
@keyframes toRightFromLeft{
	49%{
		transform:translate(100%);
	}
	50%{
		opacity:0;
		transform:translate(-100%);
	}
	51%{
		opacity:1;
	}
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%); 
	}

	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%); 
	}

	51% {
		opacity: 1; 
	} 
}

@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%); 
	}

	50% {
		opacity: 0;
		-moz-transform: translateY(-100%); 
	}

	51% {
		opacity: 1; 
	} 
}

@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%); 
	}

	50% {
		opacity: 0;
		transform: translateY(-100%); 
	}

	51% {
		opacity: 1; 
	} 
}

