/* stylelint-disable */

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";

// Colors
$grey: #777;
$grey-dark: #CDCDCD;
$grey-darker: #333;
$grey-light: #9c9b9b;
$grey-lighter: #EFEFEF;
$gray: #434343;
$red: #F41E1E;
$black: #000;
$black-light: #181818;
$black-lighter: #484848;
$white: #fff;

$base: $grey;
$primary: $red;

$bg-heading: #181818;

$bg-email: #3338d0;
$bg-phone: #43b51f;
$bg-whatsapp: #65bc54;
$bg-skype: #00aff0;
$bg-zalo: #0097c9;